<div class="min-h-screen bg-[#09090b] text-[#fafafa] font-sans">
  <header class="border-b border-[#27272a] bg-[#09090b]/95 backdrop-blur">
    <div
      class="container mx-auto flex flex-wrap items-center justify-between px-4 h-16">
      <!-- Logo -->
      <div class="flex items-center space-x-3">
        <div
          class="bg-[#10b981] p-2 rounded-lg shadow-[0_0_15px_rgba(16,185,129,0.3)]">
          <mat-icon class="text-white text-2xl">directions_bus</mat-icon>
        </div>
        <div>
          <h1 class="font-bold text-lg leading-none">TransCard</h1>
          <span class="text-xs text-[#a1a1aa]">Sistema de Gestão de
            Cartões</span>
        </div>
      </div>

      <nav
        class="hidden md:flex items-center space-x-1 bg-[#18181b] p-1 rounded-md border border-[#27272a]">
        <button routerLink="users" routerLinkActive="bg-[#10b981] text-white" (click)="selectRoute('users')"
        class="px-4 py-1.5 rounded-sm transition-all text-sm font-medium hover:text-white"
        [ngClass]="currentRoute === 'users' ? 'bg-[#10b981] text-white' : 'text-gray-400'"
        >
          Usuários
        </button>
        <button routerLink="cards" routerLinkActive="bg-[#10b981] text-white" (click)="selectRoute('cards')"
        [ngClass]="currentRoute === 'cards' ? 'bg-[#10b981] text-white' : 'text-gray-400'"
        class="px-4 py-1.5 rounded-sm transition-all text-sm font-medium hover:text-white"
          >
          Cartões
        </button>
      </nav>

      <button class="hidden md:block" (click)="logout()">Sair</button>

      <button class="md:hidden p-2" (click)="toggleMenu = !toggleMenu">
        <mat-icon>menu</mat-icon>
      </button>

      @if(toggleMenu) {
      <div
        class="fixed top-16 right-0 w-48 flex flex-col space-y-2 bg-[#18181b] p-2 rounded-md border border-[#27272a] z-[9999] shadow-lg">
        <button routerLink="users" routerLinkActive="bg-[#10b981] text-white"
          class="px-4 py-2 rounded-sm text-sm font-medium hover:bg-[#10b981] hover:text-white">
          Usuários
        </button>
        <button routerLink="cards" routerLinkActive="bg-[#10b981] text-white"
          class="px-4 py-2 rounded-sm text-sm font-medium hover:bg-[#10b981] hover:text-white">
          Cartões
        </button>
        <button (click)="logout()"
          class="px-4 py-2 rounded-sm text-sm font-medium hover:bg-[#10b981] hover:text-white">
          Sair
        </button>
      </div>
      }

    </div>
  </header>

  <main class="container mx-auto p-6">
    <router-outlet></router-outlet>
  </main>
</div>
