<div class="flex flex-col sm:flex-row justify-between items-center gap-4 mb-8">
  <!-- Campo de busca -->
  <div class="relative w-full sm:max-w-sm">
    <input
      type="text"
      placeholder="Buscar cartões..."
      [(ngModel)]="filterName"
      (ngModelChange)="onFilterChange()"
      class="w-full pl-10 pr-4 py-2 rounded-md bg-[#09090b] border border-[#27272a] focus:border-[#10b981] outline-none transition-all" />
  </div>

  <!-- Filtros -->
  <div class="flex gap-4 w-full ">
    <select
      [(ngModel)]="filterType"
      (change)="onFilterChange()"
      class="w-full sm:w-auto bg-[#09090b] border border-[#27272a] text-white px-3 py-2 rounded-md focus:border-[#10b981] outline-none">
      <option value>Todos os tipos</option>
      <option value="TRABALHADOR">Trabalhador</option>
      <option value="COMUM">Comum</option>
      <option value="ESTUDANTE">Estudante</option>
    </select>
    <select
      [(ngModel)]="filterStatus"
      (change)="onFilterChange()"
      class="w-full sm:w-auto bg-[#09090b] border border-[#27272a] text-white px-3 py-2 rounded-md focus:border-[#10b981] outline-none">
      <option value>Todos os status</option>
      <option [value]="true">Ativo</option>
      <option [value]="false">Inativo</option>
    </select>
  </div>
</div>

<app-table-cards
  [cards]="cards"
  [paginaAtual]="page"
  [totalPages]="totalPages"
  (changePage)="onPageChange($event)">
</app-table-cards>
