
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  @for (user of users; track $index) {
  <div class="group bg-[#09090b] border border-[#27272a] p-5 rounded-xl hover:border-[#10b981]/50 transition-all shadow-sm">
    <div class="flex justify-between items-start mb-6">
      <div class="flex items-center gap-3">
        <div
          class="h-10 w-10 rounded-full bg-[#10b981]/10 flex items-center justify-center">
          <i class="fas fa-user text-[#10b981]"></i>
        </div>
        <div class="min-w-0">
          <div class="font-semibold truncate">{{ user.fullName }}</div>
          <div class="text-[#a1a1aa] text-xs truncate flex items-center gap-1">
            <i class="fas fa-envelope text-[10px]"></i> {{ user.email }}
          </div>
        </div>
      </div>
      <div class="flex space-x-1">
        <button class="p-2 text-[#a1a1aa] hover:text-white transition-colors"><i
            class="fas fa-pen text-sm"></i></button>
        <button
          class="p-2 text-[#a1a1aa] hover:text-red-400 transition-colors"><i
            class="fas fa-trash text-sm"></i></button>
      </div>
      <button
        (click)="openEditUser(user)"
        class="p-2 text-[#a1a1aa] hover:text-white transition-colors">
        Editar
      </button>
      <button
        (click)="deleteUser(user)"
        class="p-2 text-[#a1a1aa] hover:text-white transition-colors">
        Excluir
        <i class="fas fa-pen text-sm"></i>
      </button>
    </div>

    <div
      class="flex justify-between items-center pt-4 border-t border-[#27272a]">
      <div class="text-sm text-[#a1a1aa] flex items-center gap-2">
        <div class="flex items-center justify-center">
          {{ user.cards?.length }} {{ user.cards?.length === 1 ? 'cartão' :
          'cartões' }}
          <button (click)="user.isCardsOpen = !user.isCardsOpen">
            <mat-icon [class.rotated]="user.isCardsOpen">
              arrow_drop_down
            </mat-icon>
          </button>
        </div>
      </div>
      <button (click)="openAddCardModal(user)"
        class="text-xs border border-[#27272a] hover:bg-[#18181b] px-3 py-1.5 rounded-md transition-colors flex items-center gap-1">
        <i class="fas fa-plus"></i> Adicionar
      </button>

    </div>
    <div *ngIf="user.isCardsOpen" class="space-y-2">
      <div
        *ngFor="let card of user.cards"
        class="bg-[#0f0f12] border border-[#27272a] rounded-lg p-4 flex justify-between items-center">
        <div>
          <div class="flex items-center gap-2">
            <span class="font-medium">{{ card.fullName }}</span>

            <span
              class="text-xs px-2 py-0.5 rounded-full"
              [ngClass]="{
               'bg-[#10b981]/20 text-[#10b981]': card.typeCard === 'TRABALHADOR',
               'bg-[#27272a] text-[#a1a1aa]': card.typeCard === 'COMUM'
             }">
              {{ card.typeCard === 'TRABALHADOR' ? 'Trabalhador' : 'Comum' }}
            </span>
          </div>

          <div class="text-xs text-[#71717a] mt-1">
            Nº {{ card.numberCard }}
          </div>
        </div>

        <div class="flex items-center gap-3">
          <!-- @if(card.status) { -->
          <button class="text-[#10b981] hover:text-[#34d399]"
            [ngClass]="card.status ? 'text-green-500 hover:text-green-400' : 'text-gray-500 hover:text-gray-400'"
            (click)="setCardStatus(card)">
            <mat-icon>power_settings_new</mat-icon>
          </button>
          <button (click)="deleteCard(user, card)" class="text-[#71717a] hover:text-red-400">
            <mat-icon>delete</mat-icon>
          </button>

        </div>
      </div>
    </div>
  </div>
  }

</div>
